.oswFont{
    font-family: 'Oswald', sans-serif !important;
    font-style: normal;
}


@media (min-width: 1400px) {
    #map{
        width: 800px;
        height: 600px;
    }
}

@media (min-width: 900px) {
    #map{
        width: 650px;
        height: 480px;
    }
}
@media (min-width: 1400px) {
    #footerLogo{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 900px) {
    #footerLogo{
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 600px) {
    #footerLogo{
        width: 160px;
        height: 160px;
    }
}

/*FOR LINES BLOCK*/
@media (min-width: 1520px) {
    #rightOil{
        margin-left: -140px;
    }
    #leftOil{
        margin-right: -80px;
    }
    #centerOil{
        margin-right: 10px;
    }
}

@media (max-width: 1520px) {
    #rightOil{
        margin-left: -120px;
    }
    #leftOil{
        margin-right: -60px;
    }
}

/*FOR SERVISES*/
@media (min-width: 1520px) {
    .serviceImg{
        margin-left: -20px;
        margin-top: -20px;
    }
}
@media (max-width: 1520px) {
    .serviceImg{
        margin-left: -5px;
        margin-top: -20px;
    }
}
@media (max-width: 900px) {
    .serviceImg{
        margin-left: 0px;
        margin-top: -20px;
    }
}

.servicesImg{
    /* тень по умолчанию */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* переход для плавности анимации */
    transition: box-shadow 0.2s ease-in-out;
}
.servicesImg:hover{
    /* тень при наведении мыши */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8  );
    color: #b8180d !important;
}

